{% extends "admin/users/base.html" %}

{% block admintitle %}Users List{% endblock %}

{% block content %}
  {% if users is defined %}
    <table>
      <thead>
        <tr>
          <td>Email</td>
          <td>Name</td>
          <td>Company</td>
          <td>Website</td>
        </tr>
      </thead>
      <tbody>
      {% for user in users %}
        <tr>
          {% if user.email is defined %}
            <td><a href="/admin/users/edit/{{ user.id }}">{{ user.email }}</a></td>
          {% else %}
            <td></td>
          {% endif %}
          {% if user.firstname is defined %}
            <td>{{ user.firstname }} {{ user.surname }}</td>
          {% else %}
            <td></td>
          {% endif %}
          {% if user.website is defined %}
            <td>{{ user.website }}</td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
  no users!
  {% endif %}
{% endblock %}

