<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Webwall - Web Application Firewall As A Service{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/css/site.css" rel="stylesheet" media="screen">
    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- // <script data-main="/static/scripts/main" src="/static/vendor/requirejs/require.js"></script> -->
  </head>
  <body>

    <div id="topnav" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Webwall</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/product">Product</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <div class="navbar-right">
            <a href="/user/signup" class="btn btn-default navbar-btn">Sign Up</a>
          </div>
        </div>
      </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <p class="alert-info">
          {{ flashMessage }}
      </p>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
      <p class="alert-danger">
          {{ flashMessage }}
      </p>
    {% endfor %}

    {% block jumbotron %}{% endblock %}

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <div class="footer">
      <div class="container">
        <div class="footer-col">
          &copy; 2014 Webwall.
        </div>
      </div>
    </div>
  </body>
</html>
