{% extends "base.html" %}

{% block content %}

<div class="wrapper">

<div class="page-header">
  <h1>Signup</h1>
</div>

<p>Webwall is currently in a closed beta. If you signup now with your detail you will receive an invitation.</p>

<div class="signup-col">

<form class="form-horizontal form-signup" action="{{ action }}" method="post">
  {{form_widget(registrationForm)}}
  <div class="form-group">
    <div class="offset form-input">
      <button type="submit" class="btn btn-default">Signup</button>
    </div>
  </div>
</form>


</div>

{% endblock %}
