{% extends "base.html" %}

{% block title %}New Web Order - Nik Cubrilovic Blog{% endblock %}

{% block content %}

{% if posts is defined %}
{% for post in posts %}
	<article>
		<header>
			<h1>
				<a href="/posts/{{ post.title }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
			</h1>
		</header>
		<div>{{ post.body }}</div>
	</article>
{% endfor %}
{% endif %}
        <ul class="pager">
          <li class="previous"><a href="#">&larr; Older</a></li>
          <li class="next"><a href="#">Newer &rarr;</a></li>
        </ul>
{% endblock %}
